@value s-shortenURL #ninjaurl__url-input;
@value s-url-label: .ninjaurl__common-input > label;

main {
  --smooth-transition: all .25s ease-in-out;
  --light-orange: #d2bbbb;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  height: 90%;
  max-width: 720px;
  min-width: 320px;
  min-height: 400px;
  overflow: hidden;
}

.ninjaurl__headers {
  color: #ffdacf;
  margin-bottom: 20px;
}

s-shortenURL > div {
  display: grid;
  row-gap: 10px;
  grid-auto-rows: 2fr 1fr;
  justify-items: center;
  line-height: 1;
  padding: 5px;
}

s-url-label {
  color: var(--light-orange);
}

.ninjaurl__url-shortened {
  margin-top: 15px;
  min-height: 40px;
  border: 1px solid #cacaca;
  padding: 5px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
}

.ninjaurl__url-close-btn {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: #cacaca;
}

.ninjaurl__url-shortened > a {
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 10px;
  color: white;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  font-size: 20px;
}
