html {
  --base-color-one: #3B4371;
  --base-color-two: #F3904F;
  background-color: var(--base-color-one);
}

body {
  margin: 0;
  background: var(--base-color-two);
  background: -webkit-linear-gradient(to top, var(--base-color-one), var(--base-color-two));
  background: linear-gradient(to top, var(--base-color-one), var(--base-color-two));
  height: 100vh;
}

body, body * {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
