@value s-base: .ninjaurl__common-input;
@value s-wrapper: .ninjaurl__common-input > .wrapper;
@value s-input: .ninjaurl__common-input  > .wrapper > input;

s-base {
  --smooth-transition: all .25s ease-in-out;
}

s-base, s-base * {
  transition: var(--smooth-transition);
}

s-wrapper {
  padding: 5px;
  /* border-bottom: 1px solid #c0c0c0; */
  transition: all .25s ease-in-out;
  width: 100%;
  min-width: 30px;
  max-width: 200px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(192,192,192,1);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(192,192,192,1);
  box-shadow: inset 0px -1px 0px 0px rgba(192,192,192,1);
}

s-wrapper:before,
s-wrapper:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(19, 151, 90);
  opacity: 0;
  transition: var(--smooth-transition);
}

s-wrapper:before {
  right: 50%;
}

s-wrapper:after {
  left: 50%;
}

s-wrapper:focus-within:before,
s-wrapper:focus-within:after {
  width: 50%;
  opacity: 1;
}

s-wrapper:disabled {
  opacity: 0.3;
}

s-input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  padding: 0;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

s-base.pos-left,
s-base.pos-right {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

s-base.pos-left {
  grid-auto-columns: min-content max-content;
}

s-base.pos-right {
  grid-auto-columns: max-content min-content;
}

s-base.pos-left > label,
s-base.pos-right > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

s-base.pos-within > label {
  position: absolute;
  top: 5px;
  left: 0;
  padding-left: 5px;
}

s-base.pos-within > .wrapper {
  width: 100%;
}

s-base.pos-within:focus-within > label,
s-base.pos-within[is-dirty='true'] > label {
  top: -65%;
}

s-base:focus-within > .wrapper,
s-base[is-dirty='true'] > .wrapper {
  background-color: white;
}
